<div class="inner-content">
    <div class="content1">
        <nz-card nzType="inner" nzTitle="列表" [nzSize]="'small'">
            <nz-tree [nzData]="nodes" (nzClick)="select($event)" nzBlockNode nzShowLine nzExpandAll [nzTreeTemplate]="nzTreeTemplate">

            </nz-tree>
            <ng-template #nzTreeTemplate let-node>
                <span class="custom-node" [class.active]="activedNode?.key === node.key">
                    {{ node.title }}
                    <a class="node-add" *ngIf="activedNode?.key === node.key && !node.isLeaf" (click)="addNode()">添加</a>
                </span>
            </ng-template>
        </nz-card>
    </div>
    <div class="content2" *ngIf="type===1||type===2">
        <nz-card nzType="inner" nzTitle="详情" [nzSize]="'small'">
            <form [formGroup]="form">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSpan]="4">标题</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <input nz-input id="title" formControlName="fName" />
                        <nz-form-explain *ngIf="fName.dirty && fName.errors?.required">标题不能为空</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type===1">
                    <nz-form-label nzRequired [nzSpan]="4">图标</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateIcon">
                            <input nz-input id="icon" formControlName="fIcon" #inputIcon/>
                            <nz-form-explain *ngIf="fIcon.dirty && fIcon.errors?.required">图标不能为空</nz-form-explain>
                        </nz-input-group>
                        <ng-template #prefixTemplateIcon><i nz-icon [nzIconfont]="inputIcon.value"></i></ng-template>

                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type===2">
                    <nz-form-label nzRequired [nzSpan]="4">路由</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <input nz-input id="url" formControlName="fRouterUrl" />
                        <nz-form-explain *ngIf="fRouterUrl.dirty && fRouterUrl.errors?.required">路由不能为空</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type===1||type===2">
                    <nz-form-label nzRequired [nzSpan]="4">排序</nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-input-number id="sort" formControlName="fSort"></nz-input-number>
                        <nz-form-explain *ngIf="fSort.dirty && fSort.errors?.required">排序不能为空</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzNoColon [nzSpan]="4"></nz-form-label>
                    <button nz-button nzType="primary" [nzSize]="'small'" (click)="updateNode()">更新</button>
                    <button nz-button nzType="danger" [nzSize]="'small'" style="margin-left: 12px;" (click)="deleteNode()">删除</button>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
    <div class="content3" *ngIf="type===2">
        <nz-card nzType="inner" nzTitle="资源" [nzSize]="'small'">

        </nz-card>
    </div>
</div>

<dialog-application-edit #DiaglogApplicationEdit [type]="type" [Id]="activedNode?.key" (onSave)="saveAddNode()"></dialog-application-edit>