<div class="inner-content">
    <div class="content1">
        <nz-card nzType="inner" nzTitle="列表" [nzSize]="'small'">
            <nz-tree [nzData]="nodes" (nzClick)="select($event)" nzBlockNode nzShowLine nzExpandAll [nzTreeTemplate]="nzTreeTemplate">

            </nz-tree>
            <ng-template #nzTreeTemplate let-node>
                <span class="custom-node" [class.active]="activedNode?.key === node.key">
                    {{ node.title }}
                    <a class="node-add" *ngIf="activedNode?.key === node.key && !node.isLeaf"
                        (click)="addNode($event)">添加</a>
                </span>
            </ng-template>
        </nz-card>
    </div>
    <div class="content2" *ngIf="type===1||type===2">
        <nz-card nzType="inner" nzTitle="详情" [nzSize]="'small'">
            <form [formGroup]="form">
                <nz-form-item>
                    <nz-form-label nzRequired [nzSpan]="4">标题</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="标题不能为空">
                        <input nz-input id="title" formControlName="fName" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type===1">
                    <nz-form-label nzRequired [nzSpan]="4">图标</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="图标不能为空">
                        <nz-input-group [nzPrefix]="prefixTemplateIcon">
                            <input nz-input id="icon" formControlName="fIcon" #inputIcon />
                        </nz-input-group>
                        <ng-template #prefixTemplateIcon><i nz-icon [nzIconfont]="inputIcon.value"></i></ng-template>

                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type===2">
                    <nz-form-label nzRequired [nzSpan]="4">路由</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="路由不能为空">
                        <input nz-input id="url" formControlName="fRouterUrl" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="type===1||type===2">
                    <nz-form-label nzRequired [nzSpan]="4">排序</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="排序不能为空">
                        <nz-input-number id="sort" formControlName="fSort"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzNoColon [nzSpan]="4"></nz-form-label>
                    <button nz-button nzType="primary" [nzSize]="'small'" (click)="updateNode()">更新</button>
                    <button nz-button nzType="danger" [nzSize]="'small'" style="margin-left: 12px;" (click)="deleteNode()">删除</button>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
    <div class="content3" *ngIf="type===2">
        <nz-card nzType="inner" nzTitle="资源" [nzSize]="'small'">

            <nz-table #nzTable [nzSize]="'small'" [nzData]="resourceData" [nzHideOnSinglePage]="true" [nzScroll]="{ y: '400px' }">
                <thead>
                    <tr>
                        <th nzWidth="100px">序号</th>
                        <th nzWidth="150px">名称</th>
                        <th>编码</th>
                        <th nzWidth="150px">排序值</th>
                        <th nzWidth="150px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of nzTable.data;let idx=index;">
                        <td>{{idx+1}}</td>
                        <td>
                            <ng-container *ngIf="!editCache[d.Id].edit; else nameInputTpl">
                                {{ d.Name }}
                            </ng-container>
                            <ng-template #nameInputTpl>
                                <input type="text" nz-input [(ngModel)]="editCache[d.Id].data.Name" />
                            </ng-template>
                        </td>
                        <td>{{d.ResourceCode}}</td>
                        <td>
                            <ng-container *ngIf="!editCache[d.Id].edit; else sortInputTpl">
                                {{ d.Sort }}
                            </ng-container>
                            <ng-template #sortInputTpl>
                                <nz-input-number [(ngModel)]="editCache[d.Id].data.Sort"></nz-input-number>
                            </ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="!editCache[d.Id].edit; else saveTpl">
                                <a (click)="startEdit(d.Id)">编辑</a>
                                <a nz-popconfirm (nzOnConfirm)="deleteResource(d.Id)" style="margin-left:10px;" nzTitle="确定删除?">删除</a>
                            </ng-container>
                            <ng-template #saveTpl>
                                <a (click)="saveEdit(d.Id)">保存</a>
                                <a (click)="cancelEdit(d.Id)" style="margin-left:10px;">取消</a>
                            </ng-template>
                            <!-- <a href="javascript:;" (click)="edit(d.Id)"></a> -->
                            <!-- <nz-divider nzType="vertical"></nz-divider> -->

                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <button nz-button nzType="primary" [nzSize]="'small'" (click)="addResource()" style="margin-top:12px">添加</button>
        </nz-card>
    </div>
</div>

<dialog-application-edit #DiaglogApplicationEdit [type]="type" [Id]="activedNode?.key" (onSave)="saveAddNode()">
</dialog-application-edit>
<dialog-resource-edit #DiaglogResourceEdit [Id]="activedNode?.key" (onSave)="saveAddResource()"></dialog-resource-edit>