
.content1 {
  width: 300px;
  float: left;
}

.content2 {
  width      : 400px;
  float      : left;
  margin-left: 24px;
}

.content3 {
  width      : calc(100% - 748px);
  float      : left;
  margin-left: 24px;
}

.custom-node {
  display           : inline-block;
  height            : 24px;
  margin            : 0;
  padding           : 0 5px;
  color             : rgba(0, 0, 0, 0.65);
  line-height       : 24px;
  text-decoration   : none;
  vertical-align    : top;
  border-radius     : 2px;
  cursor            : pointer;
  -webkit-transition: all 0.3s;
  transition        : all 0.3s;
  width             : 100%;
}

.active {
  background-color: #bae7ff;
}


.node-add {
  float: right;
  // color: #1890ff;

  font-size: 12px;
}

// .ant-input-number{
//   width: 80px;
// }



::ng-deep {
  .ant-tree .ant-tree-node-content-wrapper {
    width: 100%;
  }
}