.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f0f2f5;
  background-image: url('../../assets/img/background.svg');
}

.content {
  width: 368px;
  margin: 100px auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.footer {
  width: 100%;

  a {
    color: rgba(0, 0, 0, 0.65);
  }
}

::ng-deep .container .content {
  .ant-input-affix-wrapper-lg {
    height: 40px;
  }

  .ant-tabs-tab {
    font-size: 16px;
    line-height: 24px;
  }
}
