:host {
  ::ng-deep {
    .container {
      display          : flex;
      flex-direction   : column;
      min-height       : 100%;
      background-repeat: no-repeat;
      background-size  : 100%;
      background-color : #f0f2f5;
      background-image : url('../../assets/img/background.svg');
    }

    .content {
      width  : 368px;
      margin : 100px auto;
    }

    // nz-form-item {
    //   margin: 0 0 24px;
    // }

    // .ant-col {
    //   width: 368px;
    // }

    // .ant-input-affix-wrapper .ant-input {
    //   position  : relative;
    //   text-align: inherit;
    //   min-height: 40px;
    // }

    .ant-input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px white inset !important;
    }


    .ant-tabs-default-bar {
      height: 47px;
    }

    .ant-input-affix-wrapper-lg {
      height: 40px;
    }

    .ant-tabs {

      .ant-tabs-top-content.ant-tabs-content-animated,
      .ant-tabs-bottom-content.ant-tabs-content-animated,
      .ant-tabs-top-content>.ant-tabs-tabpane,
      .ant-tabs-bottom-content>.ant-tabs-tabpane,
      &.ant-tabs-left .ant-tabs-ink-bar-animated,
      &.ant-tabs-right .ant-tabs-ink-bar-animated,
      &.ant-tabs-top .ant-tabs-ink-bar-animated,
      &.ant-tabs-bottom .ant-tabs-ink-bar-animated {
        transition: none;
      }
    }

    .ant-tabs .ant-tabs-bar {
      margin-bottom: 24px;
      text-align   : center;
      border-bottom: 0;
    }

    .ant-tabs-tab {
      font-size  : 16px;
      line-height: 24px;
    }

    // .ant-input-affix-wrapper .ant-input:not(:first-child) {
    //   padding-left: 34px;
    // }


    .text-right {
      text-align: right;
    }

    .text-center {
      text-align: center;
    }

    .footer {
      // position: fixed;
      // left    : 0;
      // bottom  : 50px;
      width      : 100%;

      a {
        color: rgba(0, 0, 0, 0.65);
        ;
      }
    }
  }
}







// .icon {
//   margin-left   : 16px;
//   color         : rgba(0, 0, 0, 0.2);
//   font-size     : 24px;
//   vertical-align: middle;
//   cursor        : pointer;
//   transition    : color 0.3s;

//   &:hover {
//     color: #1890ff;
//   }
// }

// .other {
//   margin-top : 24px;
//   line-height: 22px;
//   text-align : left;

//   nz-tooltip {
//     vertical-align: middle;
//   }

//   .register {
//     float: right;
//   }
// }
// }