<div class="container">
  <div class="content">
    <form nz-form [formGroup]="form" (ngSubmit)="login()">
      <nz-tabset [nzCentered]="true" [nzAnimated]="false" (nzSelectChange)="switch($event)">
        <nz-tab nzTitle="账号密码登录">
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入账号">
              <nz-input-group [nzSize]="'large'" nzPrefixIcon="user">
                <input nz-input formControlName="account" placeholder="账号" autocomplete="off">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入密码">
              <nz-input-group [nzSize]="'large'" nzPrefixIcon="lock">
                <input nz-input type="password" formControlName="password" placeholder="密码" autocomplete="new-password">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </nz-tab>
        <nz-tab nzTitle="手机号登录">
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入手机号">
              <nz-input-group [nzSize]="'large'" nzPrefixIcon="mobile">
                <input nz-input formControlName="mobile" placeholder="手机号" autocomplete="off">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入验证码">
              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="16">
                  <nz-input-group [nzSize]="'large'" nzPrefixIcon="mail">
                    <input nz-input formControlName="captcha" placeholder="验证码" autocomplete="off">
                  </nz-input-group>
                </div>
                <div nz-col [nzSpan]="8">
                  <button nz-button [nzSize]="'large'" [disabled]="count" nzBlock>{{ count ? count +
                    's' : '获取验证码' }}</button>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </nz-tab>
      </nz-tabset>
      <nz-form-item>
        <nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">3天内免登录</label>
        </nz-col>
        <nz-col [nzSpan]="12" class="text-right">
          <a class="forgot" (click)="msg.error('请找戎国浩')">忘记密码？</a>
        </nz-col>
      </nz-form-item>
      <nz-form-item>
        <!-- <button nz-button type="submit" nzType="primary" [nzSize]="'large'" [nzLoading]="loginLoading" nzBlock-
        (keyup.enter)="submit()" (click)="submit()">登录</button>-->
        <button nz-button type="submit" nzType="primary" [nzSize]="'large'" [nzLoading]="loginLoading"
          nzBlock>登录</button>
      </nz-form-item>
    </form>
    <!-- <div class="other">
                其他登录方式
                <i nz-icon nzType="alipay-circle"></i>
                <i nz-icon nzType="taobao-circle"></i>
                <i nz-icon nzType="weibo-circle"></i>
                <a class="register" routerLink="/passport/register">注册账户</a>
            </div> -->
  </div>
  <div class="footer">
    <div class="text-center">Made with ❤ by rongguohao</div>
    <div class="text-center">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-copyright"></use>
      </svg>
      2020 GuoHao
    </div>
    <!--提前加载fontawesome-->
    <div class="text-center mt10"><a href="http://www.beian.miit.gov.cn/">苏ICP备18045123号-1</a></div>
  </div>

</div>