@import './zorro';
@import '~minireset.css';

//margin-left
.ml3{
    margin-left: 3px;
}

.ml5{
    margin-left: 5px;
}

.ml8{
    margin-left: 8px;
}

.ml10{
    margin-left: 10px;
}
//margin-top
.mt5{
    margin-top: 5px;
}

.mt8{
    margin-top: 8px;
}

.mt10{
    margin-top: 10px;
}

//margin-right
.mr5{
    margin-right: 5px;
}

.mr8{
    margin-right: 8px;
}

.mr10{
    margin-right: 10px;
}

//margin-bottom
.mb5{
    margin-bottom: 5px;
}

.mb8{
    margin-bottom: 8px;
}

.mb10{
    margin-bottom: 10px;
}

