<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink="dashboard">
                <img src="../../../assets/img/logo.svg" alt="logo">
                <h1>首页</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen [nzTitle]="title1">
                <ul>
                    <li nz-menu-item [nzMatchRouter]="true">
                        <a routerLink="setting/user">用户管理</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="setting/app">应用管理</a>
                    </li>
                    <!-- <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dept">部门管理</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/app">角色管理</a>
                    </li> -->
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="setting/auth">权限管理</a>
                    </li>
                    <!-- <li nz-menu-item nzMatchRouter>
                        <a>Monitor</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Workplace</a>
                    </li> -->
                </ul>
            </li>
            <ng-template #title1><i nz-icon [nzType]="'appstore'"></i><span>设置</span></ng-template>
            <li nz-submenu nzOpen [nzTitle]="title2">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>内地</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>港台</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>欧美</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>日韩</a>
                    </li>
                </ul>
            </li>
            <ng-template #title2><i nz-icon [nzIconfont]="'icon-film'"></i><span>电影</span></ng-template>
            <li nz-submenu nzOpen [nzTitle]="title3">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>内地</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>港台</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>欧美</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>日韩</a>
                    </li>
                </ul>
            </li>
            <ng-template #title3><i nz-icon [nzIconfont]="'icon-dianshiju'"></i><span>电视剧</span></ng-template>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger"></i>
                </span>
                <div class="header-user" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'" nzTrigger="click">
                    <div class="header-avatar" *ngIf="headImgUrl">
                        <img [src]="headImgUrl">
                    </div>
                    <div class="header-avatar" *ngIf="!headImgUrl">
                        <div [style.background-color]="firstNameBgColor">{{firstName}}</div>
                    </div>
                    <span class="ml3" style="font-size:16px;">{{name}}</span>
                    <i nz-icon nzType="caret-down"></i>
                </div>


                <nz-dropdown-menu #menu>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a routerLink="personal/base"><i nz-icon nzType="setting" style="margin-right: 8px;"></i><span>个人设置</span></a>
                        </li>
                        <li nz-menu-item (click)="logout()">
                            <i nz-icon nzType="logout"></i> 退出登录
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-content>
            <nz-breadcrumb nzSeparator=">" [nzAutoGenerate]="true">
            </nz-breadcrumb>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>