<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Ant Design Of Angular</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="设置" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/user">用户管理</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/app">应用管理</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/dept">部门管理</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/app">角色管理</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/auth">权限管理</a>
                    </li>
                    <!-- <li nz-menu-item nzMatchRouter>
                        <a>Monitor</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Workplace</a>
                    </li> -->
                </ul>
            </li>
            <!-- <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>Basic Form</a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger"></i>
                </span>
                <span class="header-user" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
                    <nz-avatar nzSrc="../../../../assets//img/avatar.jpeg"></nz-avatar>
                    戎国浩
                    <i nz-icon nzType="caret-down"></i>
                </span>

                <nz-dropdown-menu #menu>
                    <ul nz-menu>
                        <li nz-menu-item>
                            <i nz-icon nzType="setting"></i> 个人设置
                        </li>
                        <li nz-menu-item (click)="logout()">
                            <i nz-icon nzType="logout"></i> 退出登录
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <!-- <router-outlet></router-outlet> -->
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>