<nz-card [nzBordered]="false">
    <div class="content1">
        <!-- <div class="operate-wrapper">
            <button nz-button [nzType]="'primary'" (click)="addRole()">
                <i nz-icon nzType="plus"></i>
                <span>添加</span>
            </button>
        </div> -->

        <nz-table #nzTable nzBordered [nzSize]="'small'" [nzData]="roleData" [nzHideOnSinglePage]="true">
            <thead>
                <tr>
                    <th nzWidth="60px">序号</th>
                    <th nzWidth="150px">角色</th>
                    <th nzWidth="150px">用户数量</th>
                    <th nzWidth="150px">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of nzTable.data;let idx=index;">
                    <td>{{idx+1}}</td>
                    <td>{{d.Name}}</td>
                    <td>
                        <label style="color: #67c23a;">{{d.UserCount}}</label>
                    </td>
                    <td>
                        <a (click)="viewRole(d)" class="a-operate">查看权限</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="content2" *ngIf="title">
        <nz-card nzType="inner" nzTitle="{{title}}" [nzSize]="'small'" [nzExtra]="extraTemplate">
            <nz-tree [nzData]="nodes" [nzVirtualHeight]="virtualHeight" nzBlockNode nzCheckable [nzCheckedKeys]="checkedKeys" #tree>
            </nz-tree>
        </nz-card>
        <ng-template #extraTemplate>
            <button nz-button nzType="primary" [nzSize]="'small'" (click)="update()" *ngIf="CheckAuth('1_262144')">更新</button>
        </ng-template>
    </div>
</nz-card>