<nz-list nzItemLayout="horizontal">
    <nz-list-item [nzActions]="[passwordOp]">
        <ng-template #passwordOp>
            <a>修改</a>
        </ng-template>
        <nz-list-item-meta nzTitle="账户密码" [nzDescription]="passwordDesc">
            <ng-template #passwordDesc>
                当前密码强度：<span class="text-green">{{passwordLevel}}</span>
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[phoneOp]">
        <ng-template #phoneOp>
            <a>修改</a>
        </ng-template>
        <nz-list-item-meta nzTitle="手机" [nzDescription]="phoneDesc">
            <ng-template #phoneDesc>
                已绑定手机：{{phone}}
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-item [nzActions]="[emailOp]">
        <ng-template #emailOp>
            <a>修改</a>
        </ng-template>
        <nz-list-item-meta nzTitle="邮箱" [nzDescription]="emailDesc">
            <ng-template #emailDesc>
                已绑定邮箱：{{email}}
            </ng-template>
        </nz-list-item-meta>
    </nz-list-item>
</nz-list>