<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm">

        <div nz-row>
            <nz-form-item>
                <nz-form-label>姓名</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="sName" autocomplete="off">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>手机</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="sPhone" autocomplete="off">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>状态</nz-form-label>
                <nz-form-control>
                    <nz-select nzAllowClear [nzPlaceHolder]="'请选择'" [nzShowSearch]="true" formControlName="sEnabled">
                        <nz-option *ngFor="let i of statuses; let idx = index" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>时间</nz-form-label>
                <nz-form-control>
                    <nz-range-picker nzFormat="yyyy-MM-dd" formControlName="sLastLoginTime">
                    </nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        </div>


        <div class="operater">
            <div class="fl">
                <button nz-button [nzType]="'primary'" (click)="addUser()" *ngIf="CheckAuth('1_32')">
                    <i nz-icon nzType="plus"></i>
                    <span>添加</span>
                </button>
                <button nz-button nz-dropdown [nzDropdownMenu]="moreOperate" [nzPlacement]="'bottomRight'">
                    更多操作
                    <i nz-icon nzType="down"></i>
                </button>
                <nz-dropdown-menu #moreOperate>
                    <ul nz-menu>
                        <li nz-menu-item (click)="export()" *ngIf="CheckAuth('1_4096')">导出</li>
                        <li nz-menu-item (click)="exportTemplate()" *ngIf="CheckAuth('1_8192')">导出模板</li>
                    </ul>
                </nz-dropdown-menu>
            </div>

            <div class="fr">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="tableLoading" (click)="getUsers()" *ngIf="CheckAuth('1_64')">查询</button>
                <button nz-button type="reset" class="btn-reset">重置</button>
            </div>
        </div>
    </form>

    <nz-table #nzTable [nzData]="dataSet" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" [nzShowTotal]="totalTemplate" [nzFrontPagination]="false" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total"
        [nzLoading]="tableLoading" nzShowSizeChanger nzShowQuickJumper [nzScroll]="{ x:'1550px',y: '420px' }" [nzSize]="'middle'">
        <thead (nzSortChange)="sort($event)" nzSortPriority>
            <tr>
                <th nzLeft="0px" nzWidth="60px">序号</th>
                <th nzLeft="60px" nzWidth="120px">姓名</th>
                <th nzWidth="80px" nzShowFilter [nzFilters]="filterGender" (nzFilterChange)="updateFilter($event)">性别</th>
                <th nzWidth="80px" nzShowSort nzColumnKey="0">年龄</th>
                <th nzWidth="120px">手机号</th>
                <th nzWidth="200px">邮箱</th>
                <th nzWidth="150px">微信</th>
                <th nzWidth="100px">状态</th>
                <th nzWidth="120px">角色</th>
                <th nzWidth="150px">最后登录时间</th>
                <th nzWidth="150px">最后登录IP</th>
                <th nzRight="0px" nzWidth="200px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of nzTable.data;let idx=index;">
                <td nzLeft="0px">{{idx+1}}</td>
                <td nzLeft="60px">{{d.Name}}</td>
                <td>{{d.GenderString}}</td>
                <td>{{d.Age}}</td>
                <td>{{d.Phone}}</td>
                <td>{{d.Email}}</td>
                <td>{{d.WeChat}}</td>
                <td [class.success]="d.Enabled" [class.error]="!d.Enabled">
                    {{d.EnabledString}}
                </td>
                <td>{{d.RoleName}}</td>
                <td>{{d.LastLoginTime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{d.LastLoginIP}}</td>
                <td nzRight="0px">
                    <a href="javascript:;" (click)="view(d.Id)" *ngIf="CheckAuth('1_128')">查看</a>
                    <!-- <nz-divider nzType="vertical"></nz-divider> -->
                    <a href="javascript:;" (click)="edit(d.Id)" *ngIf="d.Id!=-1&&CheckAuth('1_256')" style="margin-left:10px;">编辑</a>
                    <!-- <nz-divider nzType="vertical" *ngIf="d.Id!=-1&&CheckAuth('1_512')"></nz-divider> -->
                    <a href="javascript:;" (click)="disable(d)" *ngIf="d.Enabled&&d.Id!=-1&&CheckAuth('1_512')" style="margin-left:10px;">注销</a>
                    <a href="javascript:;" (click)="enable(d)" *ngIf="!d.Enabled&&d.Id!=-1&&CheckAuth('1_1024')" style="margin-left:10px;">启用</a>
                    <!-- <nz-divider nzType="vertical" *ngIf="d.Id!=-1&&CheckAuth('1_2048')"></nz-divider> -->
                    <a href="javascript:;" (click)="delete(d)" *ngIf="d.Id!=-1&&CheckAuth('1_2048')" style="margin-left:10px;">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate>
        共{{total}}条
    </ng-template>

    <div nz-row nzType="flex" *ngIf="CheckAuth('1_1048576')">
        <div nz-col nzSpan="4">
            <button nz-button [nzType]="'primary'" [disabled]="fileList.length == 0" style="margin-right: 8px">
                <span>导入</span>
            </button>
            <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzFileType]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                <button nz-button [nzType]="'default'">
                    <i nz-icon nzType="upload"></i>
                    <span>选择excel文件</span>
                </button>
            </nz-upload>
        </div>
    </div>
</nz-card>

<modal-user-edit #silderUserEdit (onSave)="onSave()"></modal-user-edit>

<slider-user-view #silderUserView></slider-user-view>