// nz-select {
//     width: 171px;
// }



.btn-reset {
    margin-right: 0 !important;
}

.enable {
    color: #67c23a;
}

.disable {
    color: #f56c6c;
}


.btn-add {
    background-color: #67c23a;
    border-color    : #67c23a;
}

.btn-reset {
    background-color: #909399;
    border-color    : #909399;
    color           : white;
}

.btn-edit {
    background-color: #e6a23c;
    border-color    : #e6a23c;
}
