// nz-select {
//     width: 171px;
// }

.operater {
    width: 100%;
    margin-top: 12px;

    margin-bottom: 12px;

    [nz-button] {
        margin-right: 16px;
    }
}

.btn-reset {
    margin-right: 0 !important;
}

.success {
    color: green;
}

.error {
    color: red;
}


